<% layout('layouts/boilerplate')%>
    <section class="safe">
        <h3>Your Passwords</h3>
        <div class="column">

            <div class="row">
                <div id="one" class="col-3">
                    <a href="/mysafe/<%= safe._id %>/new">
                        <h6>Add New One</h6>
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                            class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                        </svg>
                    </a>

                </div>
                <% for(let p of password) {%>
                    <div class="col-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary " type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-three-dots" viewBox="0 0 16 16">
                                    <path
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/mysafe/<%= safe._id%>/<%= p._id%>/edit">Edit</a>
                                </li>
                                <li><a href="/mysafe/<%= safe._id%>/<%= p._id%>/delete" class="dropdown-item">Delete</a>
                                </li>


                            </ul>
                        </div>
                        <a href="<%= p.url %>">
                            <img src="https://besticon-demo.herokuapp.com/icon?url=<%=p.url %>&size=80..120..200">
                        </a>

                        <h6>
                            <%= p.title %>
                        </h6>
                        <p>Password</p>
                        <hr>
                        <p onclick="copy(this)" id="password">
                            <%= p.password %>
                        </p>





                    </div>
                    <% } %>
            </div>

        </div>

    </section>